<footer>
    <div class="footer_container">
        <div class="info_footer">
            <p>Estudio Barca</p>
            <p>Avenida de Los Colegios, <br> Tigre, Provincia de Buenos Aires</p>
            <p>info@estudiobarca.com</p>
            <p>+54 11 7777 9999</p>
        </div>

        <div class="footer_social">
            <ul>
                <p>Social</p>
                <li>
                    <a href="http://instagram.com/estudiobarca" target="_blank" rel="noopener noreferrer">Instagram</a>    
                </li>
                <li>
                    <a href="http://tiktok.com/@estudiobarca" target="_blank" rel="noopener noreferrer">TikTok</a> 
                </li>
                <li>
                    <a href="http://pinterest.com/estudiobarca" target="_blank" rel="noopener noreferrer">Pinterest</a> 
                </li>
            </ul>
        </div>
    </div>
    <div class="footer_legal">
        <p class="copyright">©2023 Estudio Barca. Todos los derechos reservados. </p>
        <p class="developer">Desarrollado por Copernico Studio</p>
    </div>
</footer>