<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTUDIO BARCA</title>
    <link rel="icon" href="/img/logo-header.png" type="image/x-icon" sizes="80x80">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">

    <%  if(css_files && Array.isArray(css_files)){ %>
        <%  for(let i = 0; i < css_files.length ; i++){  %>
            <link rel="stylesheet" href="/css/<%=css_files[i] %>.css">
    <% } } %>
</head>
