<header>
    <div class="site_logo">
        <button> <i class="fi fi-ss-menu-burger"></i> </button>
        <a href="/"><img src="/img/logo-header.png"></a>
    </div>
    <div class="nav">
            <nav>
                <ul class="site_nav">
                    <form class="searcher" action="/products/searcher" method="get">
                        <input type="text" placeholder="Buscar" id="searcher" name="searcher" class="input"> 
                        <button type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                    <li>
                        <a href="/products"><span>Mobiliario</span></a>
                        <ul class="dropdown">
                            <li>
                                <a href=""><span>Mesas</span></a>   
                                <ul class="dropdown">
                                    <li>
                                        <a href=""><span>Mesas de comedor</span></a>
                                    </li>
                                    <li>
                                        <a href=""><span>Mesas de living</span></a>
                                    </li>
                                    <li>
                                        <a href=""><span>Mesas de dormitorio</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><span>Sillas</span></a>
                                <ul class="dropdown">
                                    <li>
                                        <a href=""><span>Sillas</span></a>
                                    </li>
                                    <li>
                                        <a href=""><span>Banquetas</span></a>
                                    </li>
                                    <li>
                                        <a href=""><span>Bancos</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href=""><span>Cómodas y consolas</span></a> 
                            </li>
                            <li>
                                <a href=""><span>Estanterías</span></a> 
                            </li>
                            <li>
                                <a href=""><span>Escritorios</span></a> 
                            </li>
                            <li>
                                <a href="/products"><span>Ver todo</span></a> 
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">Arquitectura</a> 
                    </li>
                    <li>
                        <a href="">Nosotros</a>  
                    </li>
                    <li>
                        <a href="">Estudio</a> 
                    </li>
                    <li>
                        <a href="">Prensa</a> 
                    </li>
                </ul>
            </nav>
        
    </div>
    <div class="site_user">
        <div class="language">
            <a href="">ES</a>
            <a href="">EN</a>
        </div>
        <div class="checkout_login">
            <a href ="/login">Iniciar Sesión</a>
            <a href ="/cart">Carrito (0)</a>
        </div>
    </div>
</header>