<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
    <%-  include('./partials/head.ejs', { css_files: ["home"] })%>
<!-- HEAD -->

<body>
<!-- HEADER -->
    <%-  include('./partials/header.ejs', { css_files: ["home"] })%>
<!-- HEADER -->
        
    <main>
        <section>

        </section>
    </main>

<!-- FOOTER -->
    <%-  include('./partials/footer.ejs', { css_files: ["home"] })%>
<!-- FOOTER -->
</body>
</html>