header div.site_logo {
    background-color: white;
    opacity: 0.97;
}

header div.nav nav ul.site_nav input::placeholder {
    color: rgb(124, 124, 124);
}

header nav ul.site_nav a, header div.nav nav ul.site_nav input::placeholder, header div.site_user div.checkout_login a, header div.site_user div.language a {
    color: rgb(124, 124, 124);
}

header nav ul.site_nav a, header div.nav nav ul.site_nav input::placeholder, header div.site_user div.checkout_login a, header div.site_user div.language a {
    transition-duration: 0s;
    transition-property: color;
}

header nav ul.site_nav a:hover, header div.nav nav ul.site_nav input:hover, header div.site_user div.checkout_login a:hover, header div.site_user div.language a:hover {
    color: black;
}

main {
    margin-bottom: 60vh;
}

section {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    flex-direction: column; 
    margin-top: 20vh; 
    align-items: center;
}

.border-top {
    border-top: 1px solid whitesmoke;
}

.border-bottom {
    border-bottom: 1px solid whitesmoke;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

button {
    border: 0px;
    background-color: white;
    font-weight: bold;
}