div.create_page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: normal;
}

form div {
    margin-top: 10px;
}

input, select {
    width: 20%;
    border: 1px solid black;
}

button {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    margin-top: 10px;
}