header div.site_logo {
    background-color: white;
    opacity: 0.98;
}

div.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20vh;
}

.extra_images {
    margin-left: 40%;
}

div.product  img {
    width: 30%;
}


section.product_image img {
    width: 60%;
}

section p { 
    margin-top: 8px;
}

section p.description {
    margin-top: 20px;
}

button {
    border: 0px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;

}
