header div.site_logo {
    background-color: white;
    opacity: 0.97;
}

main {
    margin-bottom: 60vh;
}

header div.site_logo {
    background-color: white;
}

.login_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-top: 20vh;
    align-items: center;
}

.login_box p {
    margin-bottom: 20px;
}

.login_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20%;
}

.login_form input {
    border: 0px;
    border-bottom: 1px solid rgb(185, 185, 185);
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.login_form button {
    width: 0%;
    border: 0px;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 20%;
}

.forgotten_password a, .register_link a {
    text-decoration: none;
    color: rgb(185, 185, 185);
}


