* {
    box-sizing: border-box  ;
    margin: 0;
    padding: 0;
}
body {
    background-size: cover;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header div.site_logo {
    position: fixed;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    z-index: 2;
    width: 100%;
}

header div.site_logo a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    margin-top: 6vh;
    margin-bottom: 6vh;    
}

header a:link {
    color: initial;
}

header div.nav {
    position: fixed;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
    top: 18vh;
    margin-right: 6vh;
    margin-left: 6vh; 
    z-index: 1;
}

header div.nav nav ul.site_nav input {
    font-size: 14px;
    background: none;
    border: 0px solid;
    padding: 1px 0px 1px 0px;
    text-transform: uppercase;
    font-size: 12px;
}

header div.nav a {
    transition-duration: 0s;
    transition-property: font-weight;
}

header div.nav a:hover {
    font-weight: bold;
}

header div.site_logo a img {
    width: 20%;
}

textarea:focus, input:focus{
    outline: none;
}

::placeholder {
    color: black;
    border: none;
}


header nav ul.site_nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    gap: 8px;
}

header nav ul.site_nav a {
    text-decoration: none;
    color: #000000;
}

header div.nav div.nav_2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

nav a:link {
    color: initial;
}

nav ul {
    list-style: none;
}

nav ul ul.dropdown{
    display: none;
}

nav ul li:hover > ul{
    display: block;
    cursor: pointer;
}

.dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
}

header div.site_user {
    position: fixed;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    margin-inline-start: auto;
    top: 18vh;
    margin-right: 6vh;
    gap: 8px;
    inline-size: -webkit-fill-available;
}

header div.site_user div.language {
    text-align: right;
}

header div.site_user div.checkout_login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    gap: 8px;
}

header div.site_user div.language a {
    text-decoration: none;
    color: #000000;
}

header div.site_user div.language a, header div.site_user div.checkout_login a{
    transition-duration: 0s;
    transition-property: font-weight;
}

header div.site_user div.language a:hover, header div.site_user div.checkout_login a:hover {
    font-weight: bold;
}

header div.site_user div.checkout_login a {
    display: flex;
    text-decoration: none;
    color: #000000;
    justify-content: right;
}

header div.site_user a:link {
    color: initial;
}

footer {
    margin-top: auto;
}

footer div.footer_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5%;
    margin-left: 6vh;
}

footer div.footer_container p {
    color: rgb(124, 124, 124);
}

footer div.footer_container div ul {
    list-style: none;
}

footer div.footer_container div ul li a{
    text-decoration: none;
    color: rgb(124, 124, 124);
}

footer div.footer_container div.footer_social div ul li a, div.footer_legal p {
    color: rgb(124, 124, 124);
}


footer div.footer_container a:link {
    color: rgb(124, 124, 124);

}

footer div.footer_container div.footer_social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 20px;
    margin-left: auto;
    margin-right: 6vh;
    text-align: right;
}

footer div.footer_container div.footer_social ul li a{
    transition-duration: 0s;
    transition-property: font-weight;
}

footer div.footer_container div.footer_social ul li a:hover {
    text-decoration: underline;
}


footer div.footer_legal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 6vh;
    margin-right: 6vh;
    margin-top: 3vh;
    margin-bottom: 3vh;

}

footer div.footer_legal p {
    font-size: 12px;
}

footer div.footer_legal p.copyright {
    margin-right: auto;
}

footer div.footer_legal p.developer {
    margin-left: auto;
}

footer div.footer_legal p a {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

footer div.footer_legal p a {
    transition-duration: 0s;
    transition-property: font-weight;
}

footer div.footer_legal p a:hover {
    text-decoration: underline;
}