<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%-  include('../partials/head.ejs', { css_files: ["account"] })%>
<!-- HEAD -->

<body>
    <!-- HEADER -->
    <%-  include('../partials/header.ejs', { css_files: ["account"] })%>
    <!-- HEADER -->


<main>
    <section>
        <div>
            <p>Hola Nicolás Barrio</p>
            <p class="border-bottom">nicolasbarrio@gmail.com</p>

            <p>Dirección de envío</p>
            <button>Agregar dirección</button>

            <p class="border-top">Historial de compras</p>
            <p>Sin compras todavía</p>

        </div>
    </section>
</main>